body{
    background-color: #4fc3f7;
    position: relative;
}
.vcard
{
    background-color: white;
    width: 115vh;
    height: 55vh ;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.image-cropper {
    width: 30vh;
    height: 30vh;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .image-cropper img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: 100%;
  }
.left
{
    width: 30%;
    height: 100%;
    position: relative;
    background-color:  #2A265F;
    float: left;
}
.center
{
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}
.text
{
    position: relative;
    -ms-transform: translate(-50%, -50%);
    transform: translate(5%, 5%);
}
.right
{
    width: 68%;
    /* border: 5px solid green; */
    height: 100%;
    float: right;
    text-align: right;
    align-content: center;
}
.right img
{
    height: 8vh;
    margin-top: 1vh;
    margin-right: -2vh;
}
.about
{
    margin-top: 2vh;
    text-align: left;
    font-family: 'Raleway',sans-serif;
    background-color: #f6f5f5;
    padding: 1vh;
    border-radius: 0.5vh;
    border-left: 0.6vh solid #4fc3f7;
    width: 93%;
    /* border: 1px solid black; */
}
.social
{
    position: absolute;
    right: 3vh;
    bottom: 1.5vh;
}
.social tr td
{
    padding: 1.3vh 2vh;
}
.social img{
    width: 3vh;
    height: 3vh;
    transition: 0.5s;
}
.social img:hover
{
    width: 4vh;
    height: 4vh;
}
.about tr td
{
    padding: 1vh;
}
.about a
{
    text-decoration: none;
    color: black;
}