.pro_container
{
    min-width: 100%;
    padding-top: 170px;
    padding-bottom: 100px;
    padding-left: 28vh;
    padding-right: 30vh;
}
.pro_head
{
    color: white;
    background-color: #2A265F;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 1px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 20px;
    width: 400px;
    height: 450px;
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-bottom: 40px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 410px;
    height: 460px;
  }
  
  .name {
    padding: 0px 16px;
    color: white;
    background-color: #2A265F;
  }