.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0 10px;
    font-size: 14px;
    color: #000;
    padding-top: 50px;
}

.product-card {
    height: 346px;
    border: 1px solid var(--border-color, #ddd);
    border-radius: 8px;
}

.product-img-container {
    height: 88%;
    width: 88%;
    margin: 0 auto;
    position: relative;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.product-card img {
    max-height: 90%;
    max-width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.product-card:hover .product-img-container {
    transform: scale(0.9);
}

.product-details {
    text-decoration: none;
    font-size: 14px;
    border-style: solid;
    border-right: 0;
    border-left: 0;
    border-bottom: 0;
    border-top: 1px solid rgb(221, 221, 221);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 10%;
}

.product-bottom-border {
    height: 2%;
    background-color: rgb(221, 221, 221);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    transition: all .3s ease;
}

.product-card:hover .product-bottom-border {
    background-color: #343A6C;
}